body {
    background-color: #68cdd5;
    margin: 0;
}
/*以下是文字设置*/
.p1 {
    color: #ffffff;
    line-height: 20px;
    font-size:13.275px;
    letter-spacing: 1.5px;
}

.p2,.p3 {
    margin-top:10px;
    text-align: center; 
    color: #ffffff;
    font-size: 5.025px;
}
/*以下是图片设置*/
.back1 {
    width: 31px;
    height: 27px;
 }
.logo1 {
    width: 99px;
    height: 35px;
}
.left1{
    width: 59.5px;
    height:45.5px;
}
.right1{
    width: 57px;
    height:42px;
}
/*以下是div设置*/
.back{
    position: absolute;
    left: 13px;
    top:10px;
}
.logo{
    text-align: center;
    margin-top: 68px;
}
.contant{
    margin-top: 86px;
    margin-left: 40px;
    margin-right: 40px;
}
.left{
    position: fixed;
    margin-top: 183px;
    margin-left: 69.5px;
    float:left;
}
.right{
    margin-right: 69.5px;
    margin-top:183px;
    float: right;
}